
/*Basic headings and background color*/
body {
    background-color: slategray;
}

h1 {
    color: whitesmoke;
    margin-left: 20px;
}
p1 {
    color: whitesmoke;
    margin-left: 20px;
}
